/* src/components/Login.css */

.login-section{
  height: 100vh;
  background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0,0.8)),
  url('../images/bg-1.jpg');
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container{
  width: 55%;
  /* height: 70vh; */
  border-radius: 20px;
  border: 2px solid white;
  background-image: linear-gradient(rgba(239, 221, 221, 0.1), rgba(224, 202, 202, 0.1));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  text-align: center;
  padding:20px
}
.login-container h2{
  margin-top: 35px;
}
.input-div{
  text-align: left;
  /* background-color: blue; */
  padding:15px;
  width:80%;
  margin:20px auto;
  border-radius: 15px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  border: 0.5px solid black;
  color:black;
}
.input-div label {
  font-size: 1rem;
}
input{
  width:100%;
  height: 35px;
}
.submit-btn{
  width: 80%;
  border-radius: 20px;
  background-color: #171C21;
  border: 1px solid white;
  color:white;
  font-size: 1rem;
  padding: 5px;
  margin-top: 10px;
}

@media (max-width:768px) {
  .login-container{
    width: 75%;
  }
  .login-container h2{
    margin-top: 20px;
  }
  .input-div{
    padding:10px;
  }
  input{
    height: 25px;
  }
}

@media (max-width:480px) {
  .login-container{
    width: 85%;
  }
  .input-div{
    padding:6px;
    border-radius: 8px;
    margin:12px auto;
  }
  input{
    height: 25px;
  }
  
}
@media (max-width:320px) {
  .login-container{
    width: 100%;
    border-radius: 8px;
  }
  .login-container h2{
    margin-top: 25px;
    font-size:1.2rem;
  }
  .input-div label {
    font-size: 0.7rem;
}
  
}